.create-form{
    display: flex;
    flex-direction: column;
}

input{
    border: 2px grey solid;
    padding: 2px 4px;
    margin-bottom: 5px;
}

.create-button{
    padding: 2px 4px;
    background-color: blue;
    color: white;
}

.modalError{
    color: red;
    font-weight: 400;
    margin-bottom: 2px;
}