<app-global-error ></app-global-error>

<div  class="main-container">
    <h1 class="title">{{title}}</h1>
    <p *ngIf="loading" class="loading">Loading...</p>

    <input type="text"
    class="filter"
    placeholder="Filter product..."
    [(ngModel)]="term"
    >
        <!-- <app-product [product]="products[0]" ></app-product> -->
    
    <div *ngIf="products$ | async as products">
        <app-product 
            *ngFor="let product of products | filterProducts: term; let i = index"  [product]="product"
    ></app-product>
    </div>

</div>

