.loading{
    text-align: center;
    font-weight: bold;
}

.main-container{
    max-width: 500px;
    
    margin: auto;
    padding-top: 5px;


}
.title{
    font-weight: bold;
    margin-bottom: 2px;
    text-align: center;

}

.filter{
    margin-bottom: 2px;
    border: 1px grey solid;
    border-radius: 5px;
    padding: 2px 4px;
    width: auto;
     
}
