.gError{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    position: relative;
    ;
}
.close-error{
    position: absolute;
    top: 15px;
    right: 15px;
    color:white;

}