<div class="card-product"
    >
    
    <img [src]="product.image" [alt]="product.title" class="w-1/6 mb-6">

    <div class="product-discription">
        <h2 class="product-title">{{product.title}}</h2>
     <p> Price: <span class="font-bold">{{product.price}}</span></p>

  
    
    <div >
        <p>{{product.description}}</p>
        <p>Rate: 
            <span [ngStyle]="{fontWeight: 'bold'}">
                {{product.rating.rate }}

        </span></p>
    </div>
    </div>
    
    

</div>